body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    text-align: center;
}

h2 {
align-self: center;
}

.personal {
    display: flex;
    flex-direction: column;
}

.list-container {
    display: flex;
    justify-content: space-around;
}

ol, ul {
    margin: 10px;
    padding: 0;
}

h4 {
    margin: 5px 0;
    font-size: 1em;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
